# No HuggingFace token required.
# All supported models (Qwen, Qwen3, Mistral, Phi-4, DeepSeek R1 Distill,
# Falcon, Yi, InternLM, OLMo, Mixtral) are Apache 2.0 / MIT licensed
# and are freely accessible without authentication.
